@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #0e2017;
    --background: #f6f9f9;
    --primary: #ff0091;
    --secondary: #eceeee;
    --accent: #069bfe;
    font-family: Inter;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --text: #E0f2e9;
      --background: #060909;
      --primary: #FF0091;
      --secondary: #101212;
      --accent: #0197f9;
    }
  }
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p, a {
  color: var(--text);
  font-size: 18px;
  font-weight: bold;
}

a:hover {
  color: var(--primary);
  cursor: pointer;
  box-shadow: var(--primary);
}

a:active {
  color: var(--text)
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}